certifi==2019.3.9
chardet==3.0.4
idna==2.8
joblib==0.13.2
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.0.2
numpy==1.16.4
oauthlib==3.0.1
pandas==0.24.2
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
scikit-learn==0.21.2
scipy==1.2.1
six==1.12.0
TA-Lib==0.4.17
urllib3==1.25.3
